@font-face {
  font-family: inter;
  src: url(./Inter-VariableFont_opsz\,wght.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inter;
}
html,
body {
  height: 100%;
  width: 100%;
  color: #1a1a1a;
  background-color: #ffffff;
}
@mixin elDimensions($width: 100%, $height: 100%) {
  width: $width;
  height: $height;
}
@mixin flexBox($justify: center, $align: center, $gap: 0px) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}
@mixin fontStyle($size: 14px, $weight: 400) {
  font-size: $size;
  font-weight: $weight;
}
@mixin bgProp() {
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
h3,
i {
  cursor: pointer;
}
main {
  @include elDimensions(100%, 100vh);
  padding: 10px 50px;

  header {
    @include elDimensions();
    nav {
      @include elDimensions(100%, 10%);
      @include flexBox(space-between, center, 0px);
      #logo {
        @include flexBox(space-between, center);
        i {
          color: #8c8dc8;
          @include fontStyle(23px, 700);
        }
        h3{
          @include fontStyle(20px, 500);
        }
      }
      #navLinks {
        @include flexBox(space-between, center, 20px);
        h3 {
          @include fontStyle(14px, 500);
          color: rgba(0, 0, 0, 0.779);
          transition: all 0.4s ease-out;
          text-decoration: underline transparent;
          &:hover {
            text-decoration-color: black;
            color: black;
          }
        }
      }
      #navBtns {
        @include flexBox(space-between, center, 0px);
        h3 {
          @include fontStyle(14px, 500);
        }
        #talkBtn {
          background-color: #2d3240;
          padding: 12px 4px 12px 17px;
          margin-left: 15px;
          border-radius: 50px;
          text-transform: uppercase;
          color: white;
          @include fontStyle(12px, 500);
          transition: all 0.3s ease-out;
          i {
            background-color: #bdc4fe;
            margin-left: 8px;
            color: #2d3240;
            border-radius: 50%;
            padding: 7px;
            @include fontStyle(14px, 500);
          }
          &:hover{
            background-color: #bdc4fe;
            color: #242833;
          }
        }
      }
    }
    section {
      @include elDimensions(100%, 90%);
      padding: 20px 0px;
      display: grid;
      grid-template-columns: 2fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas:
        "left rightImg1 rightImg1"
        "left rightImg2 rightImg3";
      gap: 20px;
      #left {
        padding-top: 20px;
        grid-area: left;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        #topText {
          h1 {
            @include fontStyle(60px, 400);
            #first {
              display: inline-block;
              background: url(./left-span-bg.png);
              @include bgProp();
              @include elDimensions(140px, 40px);
              border-radius: 50px;
              margin-right: 20px;
              cursor: pointer;
            }
            #second {
              @include fontStyle(13px, 500);
              padding: 12px 25px;
              border-radius: 50px;
              text-transform: uppercase;
              border: 1px solid black;
              transition: all 0.3s ease-out;
              i {
                margin-right: 10px;
              }
              &:hover{
                cursor: pointer;
                background-color: #8c8dc8;
                border: none;
                color: white;
              }
            }
          }
        }
        #topBtns {
          margin-top: 15px;
          @include flexBox(left, center, 10px);
          h3 {
            @include fontStyle(14px, 500);
          }
          #contactBtn {
            background-color: #2d3240;
            padding: 12px 15px;
            border-radius: 25px;
            text-transform: uppercase;
            color: white;
            @include fontStyle(12px, 400);
            transition: all 0.3s ease-out;
            &:hover{
              background-color: #8c8dc8;
            }
            i {
              margin-left: 8px;
              color: #ffffff;
              @include fontStyle(14px, 400);
            }
          }
          #request {
            margin-left: 10px;
            text-decoration: underline;
            @include fontStyle(12px, 500);
          }
        }
        #bottom {
          p {
            width: 50%;
            @include fontStyle(12px, 500);
            margin-top: 60px;
          }
          #images {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 20px;
            margin-left: -8px;
            img {
              width: 70px;
            }
          }
        }
      }
      #rightImg1,
      #rightImg2,
      #rightImg3 {
        border-radius: 20px;
        transition: all 0.3s ease-out;
        cursor: pointer;
        #overlay{
          @include elDimensions(100%, 100%);
          background-color: #03030321;
          border-radius: 20px;
          }
          &:hover{
            background-size: 102%;
        }
      }
      #rightImg1 {
        grid-area: rightImg1;
        background: url(./rightImg1.jpg);
        @include bgProp();
      }
      #rightImg2 {
        grid-area: rightImg2;
        background: url(./rightImg2.jpg);
        @include bgProp();
      }
      #rightImg3 {
        grid-area: rightImg3;
        background: url(./rightImg3.jpg);
        @include bgProp();
      }
    }
  }
}
